layout  {
    pane split_direction="vertical" {
        pane {
            start_suspended true
            command "just"
            args "test"
        }

        pane {
            command "cargo"
            args "watch" "-x" "shuttle run" "-w" "src" "--delay" "0"
        }
    }
}
